@using HoomanLogic.Models
@model RegisterViewModel
@{
    ViewBag.Title = "Register";
}
<link href="~/css/login.min.css" rel="stylesheet" />
<div class="flex-container" style="justify-content: space-around;align-items: center;">
    <i style="margin: 1rem" id="hoomanlogic"></i>
    <h1>Do better. Together.</h1>
</div>
<div>
    <h2>@ViewBag.Title.</h2>
</div>
<div class="flex-container">
    <div class="flex-cell" style="flex-grow: 1">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
    <div class="flex-cell" style="flex-grow: 3">
        <section id="registerForm">
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Create a new account.</h4>
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-xs-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Hometown, new { @class = "col-xs-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Hometown, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-xs-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-xs-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <input type="submit" class="btn btn-default" value="Register" />
                    </div>
                </div>
                <p>
                    @Html.ActionLink("Log in with an existing account.", "Login")
                </p>
            }
        </section>
    </div>
</div>
@section Scripts {
    <script src="~/js/jquery.min.js"></script>
}
