@model HoomanLogic.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<link href="~/css/login.min.css" rel="stylesheet" />
<div>
    <h2>@ViewBag.Title.</h2>
</div>
<div class="flex-container">
    @if (ViewBag.StatusMessage != null && ViewBag.StatusMessage.Length > 0)
    {
        <div class="flex-cell" style="flex-grow: 1">
            <p class="text-success">@ViewBag.StatusMessage</p>
        </div>
    }
    <div class="flex-cell" style="flex-grow: 1">
        <h4>Change your account settings</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>Password:</dt>
            <dd>
                [
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Change your password", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
                ]
            </dd>
            <dt>External Logins:</dt>
            <dd>
                @Model.Logins.Count [
                @Html.ActionLink("Manage", "ManageLogins") ]
            </dd>
        </dl>
    </div>
</div>

